{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<div class="ui container">
    {{ sonata_block_render_event('sylius.shop.homepage') }}
    {{ sonata_block_render_event('sylius.shop.homepage.after_products') }}
    {{ sylius_template_event('sylius.shop.layout.header') }}
</div>
{% endblock %}
